{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="card text-bg mb-5 mt-5">
        <div class="card text-center">
              <div class="card-body">
                  <div class="text-bg mb-5 mt-4">
                      <h3 class="card-title">Здесь вы можете создать новый блог</h3>
                  </div>
                <a href="{% url 'blog:create' %}" class="btn btn-dark" >Создать новый блог</a>
              </div>
        </div>
    </div>
    {% for object in object_list %}
    <div class="col-12">
            <div class="card mb-4 mt-4 box-shadow">
                <div class="card-header">
                    <h4 class="text-center">{{ object.head }}</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-center">{{ object.created_at }}</h2>
                    <ul class="list-unstyled text-center">
                        {{ object.content|truncatechars:100 }}
                    </ul>
                    <div class="d-grid gap-2 col-3 mx-auto">
                        <div class="btn-group">
                            <a href="{% url 'blog:detail' object.pk %}" class="btn btn-success active" aria-current="page">Прочесть блог</a>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'blog:update' object.pk %}" class="btn btn-warning active" aria-current="page">Редактировать</a>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'blog:delete' object.pk %}" class="btn btn-danger active" aria-current="page">Удалить</a>
                        </div>
                        {% if object.published %}
                            <a href="{% url 'blog:activate' object.pk %}" class="btn btn-secondary active" aria-current="page">Деактивировать</a>
                        {% else %}
                            <a href="{% url 'blog:activate' object.pk %}" class="btn btn-secondary active" aria-current="page">Активировать</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
