{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <form method="post">
            {% csrf_token %}
                <p> Хотите удалить блог "{{ object.head }}"? </p>
                <button type="submit" class="btn btn-success active">
                    Удалить
                </button>
                <div class="btn-group">
                    <a href="{% url 'catalog:list' %}" class="btn btn-danger active" aria-current="page"> Отмена </a>
                </div>
            </form>
        </div>
    </div>
{% endblock%}