{% extends 'catalog/base.html' %}
{% block content %}
{% include 'catalog/include/inc_text_skystore.html' %}
    <p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать</p>
</div>


<div class="container">
    {% for object in object_list %}
        <div class="col-12">
            <div class="card mb-4 mt-4 box-shadow">
                <div class="card-header">
                    <h4 class="text-center">{{ object.name_products }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title text-center">{{ object.price }} рублей </h1>
                    <ul class="list-unstyled text-center">
                        {{ object.description_products|truncatechars:100 }}
                    </ul>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <div class="btn-group">
                          <a href="{% url 'catalog:product' object.pk %}" class="btn btn-success active" aria-current="page">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
